body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.product {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #222;
    border-radius: 5px;
}

h2 {
    color: #4CAF50;
}

/* Aplicar tema escuro aos elementos */
body, .container, .product {
    background-color: #111;
}

h1, h2, p {
    color: #fff;
}
